@import "_variables";

.details_wrap {
  border: 1px solid $base-color;
  background-color: $elements-color;

  .hotel_details_main {
    margin: 0;
    padding: 10px;

    .img {
      margin-top: 20px;
    }

    .price {
      font-size: 2em;
      text-align: center;
    }

    .hotel-specs {
      &-name {
        display: flex;
      }
    }
  }

  .hotel_details_extras {
    margin: 0;
    padding: 0 10px 10px;

    .hotel_extras {
      padding-left: 20px;

      .hotel_extras_list {
        padding: 0 10px 10px;

        .hotel_extras_element {
          list-style: disc;
          margin-top: 5px;
        }
      }
    }

    .hotel_rooms_list {
      margin-bottom: 10px;
    }

  }
}

.icon {
  margin-right: 10px;
}
