@import "_variables";

.hotels-list-element {
    border: 1px solid $base-color;
    margin: 0 0 10px;
    padding: 10px;
    background-color: #fff;

    .price {
        font-size: 2em;
        text-align: center;
    }

    .hotel-specs {
        &-name {
            display: flex;
        }

        .description {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }
}
